body{
  background-image: url(imagini/asistenta.jpg);
  background-repeat: no-repeat;
  position: absolute;
}
.logo{
  position: relative;
  left: 20px;
  width: 150px;
  top: 15px;
  color: navy ; font-family: Vivaldi; font-size: 30px; text-align: center;
  border-style: dashed; border-color: rebeccapurple;
}
h1{
  color: rgb(0, 0, 0);   
  position: relative;
  bottom: 115px;
  left: 230px;
  width: 800px;
  font-family: 'Edwardian Script ITC'; font-size: 70px;
}
.header-top{
background-color: white;
height: 90px;
}
.active {
position: relative;
display: inline-block;
list-style-type: none;
margin: 0;
padding: 0;
}
.nv{
width: 500px;
}
.dropdown-content {
display: none;
position: absolute;
background-color: white;
min-width: 160px;
padding: 12px 16px;
z-index: 1;
list-style-type: none;
margin: 0;
padding: 0;
overflow: hidden;
background-color:rgb(245, 231, 212);
}
.dropdown-content li{
  border-bottom: groove; border-color:darkorchid;
}
.active:hover .dropdown-content {
display: block;
}
.menu li a {
display: block;
padding: 8px;
font-family: cursive; font-size: 20px;
color:indigo;
text-decoration: none;
}
.menu{
position: relative;
}
.main-menu{
background-color: white;
}
.content{
text-align: left;
font-family: Bookman Old Style; font-size: 25px; 
padding-top: 200px;
padding-bottom: 400px;
color: indigo;
}
.menu-f{
list-style-type: none;
margin: 0;
padding: 0;
overflow: hidden;
background-color: white;
}

.menu-f li {
float: left;
position: relative;
left: 430px;
}
.menu-f li a {
display: block;
color: rgb(0, 0, 0);
font-family: cursive; font-size: 20px;
text-align: center;
padding: 14px 16px;
text-decoration: none;
}
.menu-f li a:hover {
background-color: white;
}
