body{
  margin: 0;
}

header a.icon{
  display: none;
}

header{
  display: grid;
  grid-template-columns: 1fr 7fr;
  position: sticky;
  top: 0;
  background-color: white;
  width: 100%;
}

header nav{
  display: grid;
  grid-template-columns: repeat(3, 1fr) repeat(3, 2fr);
  text-align: center;
  align-items: center;
}

header i#menu{
  display: none;
}

header div{
  justify-self: center;
}

header div p.logo{
  color: black ; 
  font-family: Vivaldi; 
  font-size: 24px; 
  text-align: center;
  width: fit-content;
  padding: 3px;
  border-style: dashed;
  animation-name: Bord;
  animation-duration: 10s;
  animation-iteration-count: infinite;
}

@keyframes Bord{
  0% {border-color:rebeccapurple;}
  25% {border-color: salmon;}
  50% {border-color: yellow;}
  100% {border-color: black;}
}

header nav a{
  text-decoration: none;
  font-family: Roboto;
  font-weight: bold;
  font-size: 24px;
  text-align: center;
  color: #a9a9a9;
}

header nav ul{
  display: inline;
  margin: 0;
  padding: 0;
}

nav ul li.active{
  display: inline-block;
}

nav ul li.active:hover ul.dropdown-content{
  display: block;
}

nav ul li.active ul.dropdown-content{
  position: absolute;
  width: 500px;
  display: none;
  background-color: white;
  border: 2px solid #a9a9a9;
  z-index: +1;
}

nav ul li.active ul.dropdown-content li { 
  display: block;
  border-bottom: 2px solid #a9a9a9;
}

header nav a:active{
  color: black;
}

header nav button{
  width: 227px;
  height: 63px;
  background: #FFFFFF;
  border: 3px solid #FCDDEC;
  border-radius: 60px;
  font-family: Roboto;
  font-weight: bold;
  font-size: 24px;
  text-align: center;
  color: #FFC5FF;
  margin-left: 20px;
}

main img{
  width: 100%;
  z-index: -1;
  position: sticky;
  top: 120px;
}

main div.text-home{
  height: 250px;
  display: grid;
  background: #F5F5DC;
}

main div.text-home p{
  place-self: center;
  font-family: Roboto;
  font-size: 24px;
  text-align: center;
}

footer{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  background-color: black;
  color: #a9a9a9;
  padding: 10px;
  font-size: 18px;
}

footer div.contacts h3,
footer div.work h3{
  margin-left: 10px;
}

footer div.icons i{
  display: inline-block;
  margin: 20px;
}

@media (max-width: 1000px){
  header div p.logo{
    font-size: 12px;
  }
  header nav a{
    font-size: 12px;
  }
  header nav button{
    width: 100px;
    height: 40px;
    font-size: 12px;
  }
  footer{
    font-size: 12px;
  }
  main img{
    top: 50px;
  }
}

@media (max-width: 500px){
  #mobile-menu{
    overflow: hidden;
    position: relative;
    display: none;
  }
  header a.icon{
    display: block;
    position: absolute;
    right: 30px;
    top: 20px;
  }
  nav a{
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
  }
}