body{
    background-color: lightslategray;
}

.header-top, .main-menu{
    background: linear-gradient(to right, lightslategray, rgb(255, 255, 255));
}

.logo{
    position: relative;
    left: 20px;
    width: 150px;
    top: 15px;
    color: navy ; 
    font-family: Vivaldi; 
    font-size: 30px; 
    text-align: center;
    border-style: dashed; 
    border-color: rebeccapurple;
    animation-name: Bord;
    animation-duration: 10s;
    animation-iteration-count: infinite;
}
  
@keyframes Bord{
    0% {border-color:rebeccapurple;}
    25% {border-color: salmon;}
    50% {border-color: yellow;}
    100% {border-color: black;}
}
  
h1{
    font-weight: bold; 
    background: -webkit-linear-gradient(black, red);  
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    position: relative;
    bottom: 115px;
    left: 230px;
    width: 800px;
    font-family: 'Edwardian Script ITC'; font-size: 70px;
}
  
.header-top{
    background-color: white;
    height: 90px;
}
  
.active {
    position: relative;
    display: inline-block;
    list-style-type: none;
    margin: 0;
    padding: 0;
}
  
.nv{
    width: 500px;
}
  
.dropdown-content {
    display: none;
    position: absolute;
    min-width: 160px;
    padding: 12px 16px;
    z-index: 1;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:rgb(222, 242, 245);
}
  
.dropdown-content li{
    border-bottom: groove;
    border-color:powderblue;
}
  
.active:hover .dropdown-content {
    display: block;
}
  
.menu li a {
    display: block;
    padding: 8px;
    font-family: cursive; font-size: 20px;
    color:darkblue;
    text-decoration: none;
}
  
.menu{
    position: relative;
}
  
.main-menu{
    background-color: white;
}
  
footer{
    background: linear-gradient(to right, rgb(150, 189, 202), rgb(255, 255, 255));
    position: static;
    top: -10px;
    left: -8px;
}
  
.menu-f{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
  
.menu-f li {
    float: left;
    position: relative;
    left: 430px;
}
  
.menu-f li a {
    display: block;
    color: rgb(0, 0, 0);
    font-family: cursive; font-size: 20px;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
  
.menu-f li a:hover {
  background-color: white;
}

main section.container,
main section.container-1,
main section.container-3{
  max-height: 500px;
  background-color:steelblue;
  display: grid;
  grid-template-columns: auto 500px;
  margin-top: 50px;
}

main section.container-2{
    background-color:steelblue;
    display: grid;
    grid-template-columns: 500px auto;
    margin-top: 50px;
}

main section.container div{
  align-self: center;
  text-align: center;
}

main section.container div div.citat{
  font-size: 48px;
  font-family: Konit;
  font-weight: bold;
  margin-bottom: 80px;
  background: -webkit-linear-gradient( blue, violet);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
 }

 main section.container div button{
   height: 50px;
   width: 250px;
   font-family: Konit;
   font-size: 25px;
   font-weight: bold;
   background-color: blue;
 }

main section.container img,
main section.container-1 img,
main section.container-2 img,
main section.container-3 img{
  height: 300px;
  justify-self: center;
  align-self: center;
}

main section.container-1 div h3,
main section.container-2 div h3,
main section.container-3 div h3{
    font-family: Konit;
    font-size: 50px;
    background: -webkit-linear-gradient( blue, violet);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 20px;
    text-align: center;
    font-weight: bold;
}

main section.container-1 div p,
main section.container-2 div,
main section.container-3 div{
    font-family: Konit;
    font-size: 20px;
    padding-left: 20px;
}

main section.container-3 div div.Tabel{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-left: 15px;
}

main section.container-3 div div.Tabel p,
main section.container-3 div div.Tabel div{
    border: 2px inset white;
    margin: 0;
    padding: 5px;
}
footer{
    margin-top: 30px;
}